name: build-go
on:
  push:
    branches:
      - master
  pull_request:

defaults:
  run:
    shell: bash

env:
  GO111MODULE: on

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        go:
          - 1.18
          - 1.19
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go }}

      - name: setup
        run: |
          go install github.com/aporeto-inc/go-bindata/go-bindata@master
          go install go.aporeto.io/elemental/cmd/elegen@master
          go install go.aporeto.io/regolithe/cmd/rego@master
          go install github.com/securego/gosec/cmd/gosec@latest
          go install github.com/golangci/golangci-lint/cmd/golangci-lint@latest

      - name: build
        run: |
          make

      - uses: PaloAltoNetworks/cov@master
        with:
          cov_file: unit_coverage.out
          cov_threshold: "70"
