name: build-go
on:
  push:
    branches:
      - master
  pull_request_target:

defaults:
  run:
    shell: bash

env:
  GO111MODULE: on

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        go:
          - 1.17
          - 1.18
          - 1.19
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go }}

      - name: setup
        run: |
          go version
          go install github.com/aporeto-inc/go-bindata/go-bindata@master
          go install go.aporeto.io/elemental/cmd/elegen@master
          go install go.aporeto.io/regolithe/cmd/rego@master
          go install github.com/securego/gosec/cmd/gosec@latest

      - name: setup-for-older-go
        if: ${{ matrix.go <= 1.17 }}
        run: |
          # stay on an older version of golangci-lint which still builds against 1.17
          # This is due to the introduction of generics.
          go install github.com/golangci/golangci-lint/cmd/golangci-lint@v1.47.3

      - name: setup-for-newer-go
        if: ${{ matrix.go > 1.17 }}
        run: |
          go install github.com/golangci/golangci-lint/cmd/golangci-lint@latest

      - name: build
        run: |
          make

      - name: coverage
        uses: codacy/codacy-coverage-reporter-action@v1
        with:
          project-token: ${{ secrets.CODACY_PROJECT_TOKEN }}
          coverage-reports: "./coverage.xml"
